body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main {
    width: 1024px;
    padding: 10px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    margin-top: 5px;
}

.listas{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    main {
        width: auto;
    }
    
   .listas{
    flex-direction: column;
   }
}